.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

::ng-deep .p-dropdown {
  width: 100%;
}

:host ::ng-deep p-inputnumber {
  width: 100%;
}

:host ::ng-deep .p-inputnumber {
  width: 100%;
}

.switch {
  display: flex;
  justify-content: center;
  gap: 10px;
}
