.red {
  color: #ef4444;
}

.green {
  color: #22c55e;
}

.orange {
  color: #ffa500;
}

.categoria {
  display: flex;
  flex-direction: column;
}

.responsive-table {
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.responsive-table th,
.responsive-table td {
  width: auto;
  height: auto !important;

}

@media only screen and (max-width: 1300px) {
  .responsive-table {
    max-width: 90%;
  }
}
