<div class="body">
  <div class="header">
    <form [formGroup]="form" class="form">
      <p-calendar
        formControlName="rangeDates"
        selectionMode="range"
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [inputStyle]="customInputStyle"
        (onSelect)="onDateSelect()"
        dateFormat="dd/mm/yy"
      ></p-calendar>
    </form>
  </div>

  <div class="conteudo">
    <div class="conteudo-saldo">
      <div class="card-saldo">
        <app-saldo
          [titulo]="'Saldo Atual'"
          [soma]="saldoMes"
          [icone]="'pi pi-wallet'"
        ></app-saldo>
      </div>

      <div class="card-saldo">
        <app-saldo
          [titulo]="'Receitas'"
          [soma]="somaReceita"
          [icone]="'pi pi-arrow-up'"
          [color]="'success'"
        ></app-saldo>
      </div>

      <div class="card-saldo">
        <app-saldo
          [titulo]="'Despesas'"
          [soma]="somaDespesa"
          [icone]="'pi pi-arrow-down'"
          [color]="'danger'"
        ></app-saldo>
      </div>

      <div class="card-saldo">
        <app-saldo
          [titulo]="'Saldo Previsto'"
          [soma]="saldoPrevisto"
          [icone]="'pi pi-wallet'"
          [color]="'warning'"
        ></app-saldo>
      </div>
    </div>

    <div class="linha">
      <div class="card-grafico-rosca">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Despesa por Categoria</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-transacoes-lista
              [filtro]="'despesa'"
              [somaDespesa]="somaDespesa"
              [dados1]="dadosDespesa"
            ></app-transacoes-lista
          ></mat-card-content>
        </mat-card>
      </div>

      <div class="card-grafico-rosca">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Receita por Categoria</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-transacoes-lista
              [filtro]="'receita'"
              [somaReceita]="somaReceita"
              [dados1]="dadosReceita"
            ></app-transacoes-lista>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="linha">
      <div class="card-grafico-rosca">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Balanço Mensal</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-transacoes-lista
              [filtro]="''"
              [somaDespesa]="somaDespesa"
              [somaReceita]="somaReceita"
              [saldoPrevisto]="saldoPrevisto"
              [dados1]="dados"
            ></app-transacoes-lista>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="card-grafico-rosca">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sem dados!</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-transacoes-lista
              [valorSelecionado]="'Forçando noData template'"
              [filtro]="''"
              [somaDespesa]="0"
              [somaReceita]="0"
              [saldoPrevisto]="0"
              [dados1]="[]"
            ></app-transacoes-lista>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
